name: Build and Deploy to Lightsail

on:
  push:
    branches:
      - master  # or your default branch
      - develop  # add other branches as needed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Deploy to Lightsail
      uses: appleboy/scp-action@v0.1.6
      with:
        host: ${{ secrets.LIGHTSAIL_HOST }}
        username: ${{ secrets.LIGHTSAIL_USER }}
        key: ${{ secrets.LIGHTSAIL_KEY }}
        port: 22
        debug: true  # Enable verbose output
        timeout: 30s
        source: "dist"
        target: "/var/www/html/wordsearchdemo"
        strip_components: 1  